<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>Đăng nhập</title>
</head>
<body>
  <h2>Đăng nhập người dùng</h2>
  <form action="/user/login" method="POST">
    <input name="email" placeholder="Email" required type="email" /><br />
    <input name="password" placeholder="Mật khẩu" required type="password" /><br />
    <button type="submit">Đăng nhập</button>
  </form>
</body>
</html>
