<!DOCTYPE html>
<html>
<head>
  <title>Đăng ký tài khoản</title>
</head>
<body>
  <h1>Form đăng ký</h1>
  <p>Đã có <strong><%= total %></strong> sinh viên đăng ký</p>

  <form action="/account/register" method="POST">
    <input name="full_name" placeholder="Họ tên" required />
    <input name="email" type="email" placeholder="Email" required />
    <input name="university" placeholder="Trường Đại Học của sinh viên" />
    <button type="submit">Đăng ký</button>
  </form>
</body>
</html>
